* {
    transition: 100ms linear;
    -moz-transition: 100ms linear;
    -webkit-transition: 100ms linear;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #f2ac00;
    background-color: #1b2a4c;
}

.container {
    margin: 30px auto;
    background: #1b2a4c;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    opacity: 0;
    margin-bottom: 20px;
    animation: 1s 0.75s fadein forwards;
}

@keyframes fadein {
    100% {
        opacity: 1;
        margin-bottom: -10px;
    }
}

h1 {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}

section {
    text-align: center;
    margin: 0 auto;
}

input {
    margin-bottom: 20px;
    outline: none;
    background-color: #1b2a4c;
    border: 0;
    border-bottom: 4px solid #f2ac00;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 24px;
    border-radius: 5px;
}

input:focus {
    border: 4px solid #f2ac00;
}

button {
    outline: none;
    padding: 3px;
    cursor: pointer;
    background-color: #f2ac00;
    color: #1b2a4c;
    border: 0;
    font-size: 16px;
    margin: 10px;
    border-radius: 8px;
    font-weight: 800;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    background-color: #f2ac00;
    color: white;
}

.flash {
    animation: flash 3s 2s ease-out infinite;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper ul {
    display: flex;
    flex-direction: column;
    
}

a {
    color: #f2ac00;
    cursor: pointer;

}

a :hover{
    transform: scale(1.5);
    color:white;
}

.wrapper ul li {
    background-color: #f2ac00;
    width: 300px;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    text-transform: lowercase;
    padding: 10px;
    
}

.wrapper li:nth-child(2n) {
    background-color: #1b2a4c;
}


/* js Activated class */

.selected {
    background-color: grey;
    color: #f2ac00;
}

.display {
    opacity: 0.2;
}